{{#> layout title="Your refund has been issued"}}
<h1 style="margin:0 0 12px 0; font-size:22px; line-height:30px;">Your refund is on its way</h1>
<p>Hi {{greetingName firstName}}, we've issued a refund of <strong>{{currency refundAmount}}</strong> for order <strong>{{orderNumber}}</strong>.{{#if refundEtaDays}} Allow up to {{refundEtaDays}} business days for it to appear.{{/if}}</p>

<p>
  Refunded to: {{refundMethod}}<br>
  Return number: {{returnNumber}}
  {{#if refundReference}}<br>Reference: {{refundReference}}{{/if}}
</p>

{{> items items=returnedProducts hidePrice=true}}

{{> button href=checkRefundLink label="View refund details"}}
{{/layout}}
