{{#> layout title="Order confirmed"}}
<h1 style="margin:0 0 12px 0; font-size:22px; line-height:30px;">Thanks, {{greetingName firstName}}. Your order is confirmed.</h1>
<p>Order <strong>{{orderNumber}}</strong> is paid and we're getting it ready. {{#if (eq deliveryType "pickup")}}We'll email you when it's ready to collect.{{else}}We'll email you when it ships.{{/if}}</p>

{{> items items=products}}

<p>
  Shipping: {{currency payment.shipping}}<br>
  {{#if (gt payment.tax 0)}}Tax: {{currency payment.tax}}<br>{{/if}}
  {{#if (gt payment.discount 0)}}Discount: -{{currency payment.discount}}<br>{{/if}}
  <strong>Total paid: {{currency payment.subtotal}}</strong>
</p>

{{#if (eq deliveryType "pickup")}}
<p>Collect from: <strong>{{fallback shipping.pickupAddress shipping.address "our store"}}</strong>{{#if shipping.pickupContactPhone}}<br>Pickup contact: {{shipping.pickupContactPhone}}{{/if}}<br>Bring your order number and a valid ID.</p>
{{else}}
<p>Delivering to: <strong>{{shipping.address}}</strong>{{#if shipping.deliveryEstimateLabel}}<br>Estimated delivery: {{shipping.deliveryEstimateLabel}}{{/if}}{{#if gigWaybill}}<br>GIG waybill: {{gigWaybill}}{{/if}}</p>
{{/if}}

{{> button href=orderStatusLink label="View your order"}}
{{/layout}}
