{{#> layout title="Your order has been cancelled"}}
<h1 style="margin:0 0 12px 0; font-size:22px; line-height:30px;">Order {{orderNumber}} has been cancelled</h1>
<p>Hi {{greetingName firstName}}, your order from {{formatDateOnly purchaseDate}} was cancelled and won't be shipped.{{#if reason}}<br>Reason: {{reason}}{{/if}}</p>

{{#if (gt refundAmount 0)}}
<p>We're refunding <strong>{{currency refundAmount}}</strong> to your original payment method.{{#if refundEtaDays}} It can take up to {{refundEtaDays}} business days to appear.{{/if}}</p>
{{/if}}

{{> items items=products hidePrice=true}}

{{> button href=shopLink label="Continue shopping"}}
{{/layout}}
