{{#> layout title="Your password was changed"}}
<h1 style="margin:0 0 12px 0; font-size:22px; line-height:30px;">Your password was changed</h1>
<p>Hi {{greetingName firstName}}, the password for your {{brand.storeName}} account was just changed. If that was you, there's nothing to do.</p>

<p>
  When: {{formatDate changedAt}}
  {{#if device}}<br>Device: {{device}}{{/if}}
  {{#if ipAddress}}<br>IP address: {{ipAddress}}{{/if}}
</p>

<p><strong>Not you?</strong> Someone else may have access to your account. Reset your password straight away and contact us.</p>

{{> button href=supportLink label="Secure my account"}}
{{/layout}}
